.topnav {
    display: flex;
    background-color: #000000;
    overflow: hidden;
}

.topnav a {
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 18px;
}

.topnav a:hover {
    float: left;
    background-color: #f2f2f2;
    color: #000000;
}

.topnav a.active {
    background-color: #98FB98;
    color: #f2f2f2;
}

.topnav a.active:hover {
    background-color: #2E8B57;
    color: #000000;
}

.picture {
    margin-top: 20px;
    display: flex;
    justify-content: center;
}

.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: #98FB98;
    color: #ffffff;
    text-align: center;
    padding: 15px;
    font-size: 1rem;
    
}

iframe {
    margin-top:  20px;
    justify-content:  center;
}

@media screen and (max-width: 720px) {
    .topnav {
        flex-direction: column;
    }
}