<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="{{ url_for('static', filename='styles.css')}}">
        <title>Contact</title>
    </head>
    <body>
        <div class="topnav">
            <a href="{{ url_for('index') }}">Home</a>
            <a href="{{ url_for('portfolio') }}">Portfolio</a>
            <a class="active" href="#">Contact</a>
            <a class="btn btn-success" href="{{ url_for('download_resume')}}">CV</a>
        </div>
      <div class="main" style="pad: 0 16px;">
        <!-- Contact Info Goes Here -->

         <iframe src="https://calendar.google.com/calendar/embed?height=600&wkst=1&ctz=America%2FNew_York&showPrint=0&src=dGhlZ3VuZ2hvZ3V5QGdtYWlsLmNvbQ&src=ZW4udXNhI2hvbGlkYXlAZ3JvdXAudi5jYWxlbmRhci5nb29nbGUuY29t&color=%23039be5&color=%230b8043" style="border:solid 1px #777" width="720" height="600" frameborder="0" scrolling="no"></iframe>
      <div class="footer"></div>
    </body>
</html>