<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="{{ url_for('static', filename='styles.css')}}">
        <title>iarivera's page</title>
    </head>
    <body>
        <!--https://codepen.io/matas98/pen/rWoyzy-->
        <div class="topnav">
            <a class="active" href="#">Home</a>
            <a href="{{ url_for('portfolio') }}">Portfolio</a>
            <a href="{{ url_for('contact') }}">Contact</a>
            <a class="btn btn-success" href="{{ url_for('download_resume')}}">CV</a>
        </div>
      <div class="main" style="pad: 0 16px;">
        <div class="picture">
          <img src="{{ url_for('static', filename='portrait.jpg')}}"  alt="Portrait" height=auto width="250" max-width=70%>
        </div>
        <h2>About Me</h2>
        <p>
          My name is Ivan Rivera, and I am an aspiring Software Developer based in West New York, New Jersey.
          I have an interest in web development, full stack development, and database management. In addition, I am also a hobbyist game developer, making small scale games and mods to existing games.
        </p>
        <p>
          Languages I often work with are Javascript, HTML/CSS, Python, and SQL (This site was built using the first three). 
        </p>
      </div>
      <div class="footer"></div>
    </body>
</html>